<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>Client</display-name> 
    <servlet>
  	<servlet-name>LogUtil</servlet-name>
  	<servlet-class>Controler.LogUtil</servlet-class> 
  </servlet>
  <servlet-mapping>
  	<servlet-name>LogUtil</servlet-name>
  	<url-pattern>/log</url-pattern>
  </servlet-mapping>  
   <servlet>
  	<servlet-name>LogOut</servlet-name>
  	<servlet-class>Controler.LogOut</servlet-class> 
  	 <init-param>
  <param-name>urlAnime</param-name>
  <param-value>/Connexion.html</param-value>
  </init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LogOut</servlet-name>
  	<url-pattern>/logout</url-pattern>
  </servlet-mapping>  
  <servlet>
  	<servlet-name>NewUtil</servlet-name>
  	<servlet-class>Controler.NewUtil</servlet-class> 
  </servlet>
  <servlet-mapping>
  	<servlet-name>NewUtil</servlet-name>
  	<url-pattern>/NewUtil</url-pattern>
  </servlet-mapping>  
  <servlet>
  	<servlet-name>test1</servlet-name>
  	<servlet-class>Controler.test1</servlet-class> 
  </servlet>
  <servlet-mapping>
  	<servlet-name>test1</servlet-name>
  	<url-pattern>/test1</url-pattern>
  </servlet-mapping>  
   <servlet>
  	<servlet-name>test2</servlet-name>
  	<servlet-class>Controler.test2</servlet-class> 
  </servlet>
  <servlet-mapping>
  	<servlet-name>test2</servlet-name>
  	<url-pattern>/test2</url-pattern>
  </servlet-mapping>  
  <servlet>
  	<servlet-name>GetAllManga</servlet-name>
  	<servlet-class>Controler.GetAllManga</servlet-class> 
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetAllManga</servlet-name>
  	<url-pattern>/GetAllManga</url-pattern>
  </servlet-mapping>  
  
    <servlet>
  	<servlet-name>GetAllAnime</servlet-name>
  	<servlet-class>Controler.GetAllAnime</servlet-class> 
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetAllAnime</servlet-name>
  	<url-pattern>/GetAllAnime</url-pattern>
  </servlet-mapping> 
<servlet>
  	<servlet-name>AddManga</servlet-name>
  	<servlet-class>Controler.AddManga</servlet-class> 
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddManga</servlet-name>
  	<url-pattern>/AddManga/*</url-pattern>
  </servlet-mapping> 
  <servlet>
  	<servlet-name>ConsulterAnime</servlet-name>
  	<servlet-class>Controler.ConsulterAnime</servlet-class> 
  	 <init-param>
  <param-name>urlAnime</param-name>
  <param-value>/vues/Animes.jsp</param-value>
  </init-param>
  <init-param>
  <param-name>allManga</param-name>
  <param-value>/vues/AllManga.jsp</param-value>
  </init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ConsulterAnime</servlet-name>
  	<url-pattern>/ConsulterAnime/*</url-pattern>
  </servlet-mapping> 
  
  <servlet>
  	<servlet-name>GetAllAnimeByManga</servlet-name>
  	<servlet-class>Controler.GetAllAnimeByManga</servlet-class> 
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetAllAnimeByManga</servlet-name>
  	<url-pattern>/allbymanga</url-pattern>
  </servlet-mapping> 
</web-app>